* {
  box-sizing: border-box;
  margin: 0;
}
.render-review-div {
  margin: 10% 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.render-review-div .quote-img {
  width: 50px;
  margin-right: 20px;
}
.render-review-div div h1 {
  font-size: 30px;
  font-weight: normal;
}
.first-review-div {
  display: flex;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.company-img {
  width: auto;
  height: 50px;
  margin-left: 30px;
}
.dot-style .slick-active {
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 4px 4px 0 0;
}
.user-reviews-slider-container {
  height: 50vh;
  margin: 0 0 100px 0;
}
