* {
  box-sizing: border-box;
  margin: 0;
}
.render-review-div {
  margin: 3%;
  display: flex;
  flex-direction: column;
  height: 20vh;
}
.render-review-div .quote-img {
  width: 70px;
  margin-right: 20px;
}
.render-review-div div h1 {
  font-size: 30px;
  font-weight: normal;
}
.first-review-div {
  display: flex;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.company-img {
  width: auto;
  height: 50px;
  margin-left: 30px;
}
.dot-style .slick-active {
  border: 4px solid rgb(5, 44, 237);
  border-radius: 50%;
  height: 48px;
  width: 50px;
}
.dot-style li {
  margin: 0 15px;
  height: 40px;
  width: 40px;
}
.dot-style {
  width: 60%;
  margin-left: 20%;
  display: flex;
  overflow: hidden;
}
.user-reviews-slider-container {
  height: 35vh;
  width: 90vw;
  margin: 0 0 50px 0;
  background-color: white;
}
@media screen and (max-width : 992px){
    .render-review-div div h1{
        font-size: 1em;
    }
}