.investors-section {
  margin: 100px;
}

.investors-top-section {
  text-align: center;
  margin-bottom: 40px;
}
.investing-companies-div img {
  margin-right: 20px;
  width: 330px;
  height: 100px;
}
.investors-top-section p {
  font-weight: 600;
  color: #183b56;
  font-size: 24px;
}
.investors-top-section h1 {
  margin: 30px 0;
  color: #183b56;
  font-size: 48px;
}
.investors-image-section {
  padding: 30px 0;
  text-align: center;
}
.investor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  padding: 10px;
  /* height: 216px;
  width: 300px; */
  margin: 20px;
}
.investor p {
  overflow: hidden;
}
.investor img {
  display: inline;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.investor-company {
  width: 60%;
  margin-left: 20%;
}
