.intensive-banner {
  background-color: #4f46e5;
  height: 7vh;
  width: 100%;
  font-weight: 700;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intensive-banner p {
  margin: auto;
}
.intensive-banner p span {
  background-color: #f97316;
  border-radius: 10px;
  font-size: 10px;
  padding: 5px;
}

@media screen and (max-width: 479px) {
  .intensive-banner {
    height: 100px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  .intensive-banner p {
    font-size: 13px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .intensive-banner {
    height: 7vh;
  }
  .intensive-banner p {
    font-size: 15px;
  }
}
